#game_board{
  position:relative;
  margin: 0 auto;
  padding-top: 50px;
  height: 25vw;
  width: 25vw;
  background-color: red;
}
.board_cell{
  background-color: white;
  background-image: none;
  background-repeat:no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.left{
  position: absolute;
  width: 33.33%;
  height: 100%;
  left: 0;
  border-right: 3px solid black;
}
.right{
  position: absolute;
  width: 33.33%;
  height: 100%;
  right: 0;
  border-left: 3px solid black;
}
.center{
  position: absolute;
  width: 33.33%;
  height: 100%;
  margin-left:33.33%;
  border-left: 3px solid black;
}
#top_row{
  position: absolute;
  border-bottom: 3px solid black;
  top: 0;
  width: 100%;
  height: 33.33%;
  background: black;
}
#middle_row{
  position: absolute;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  top: 33.33%;
  width: 100%;
  height: 33%;
  background: green;
}
#bottom_row{
  position:absolute;
  border-top: 3px solid black;
  bottom: 0;
  width: 100%;
  height: 33.33%;
  background: purple;
}
#game_winner{
  text-align: center;
  font-size: 3.0rem;
  background-color: yellow;
}
#top_info{
  text-align: center;
  padding-bottom: 75px;
}
#game_window{

}
.offscreen{
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}
